<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>壁咚网|等你来壁咚</title>
    </head>
    <style>
     html,body{
         margin: 0;
         padding: 0;
         }
     @media (min-width: 1024px) {
     #main {
         margin: 0 auto;
         width: 1024px;
    }
         }
     img{
         width: 100%;
         }
    </style>
    <body>
        <div id="wrapper">
            <div id="main">
                <img alt="" src="baidu_test.jpg"/>
            </div>
        </div>
    </body>
</html>
