<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>壁咚网|等你来壁咚</title>
    </head>
    <style>
     #main {
         width: 100%;
         max-width: 520px;
         margin: 0 auto;
         }
    </style>
    <body>
        <div id="main">
            <img alt="" src="baidu_test.jpg"/>
        </div>
    </body>
</html>
